.logo {
    vertical-align: middle;
}

.title {
    font-weight: bold;
    font-size: 3rem;

}

header {
    background-color: white;
}


body {
    background-color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fbottone {
    background-color: blue;
    border-color: blue;
    border-radius: 10%;
    color: white;
    margin-right: 5px;

}

.sbottone {
    border-color: lightgray;
    border-radius: 10%;
    color: gray;
    margin-left: 5px;
}

main {
    margin-left: 50px;
    margin-top: 100px;
    background-color: white;
    padding: 3rem;
    margin-right: 50px;
}

.blue {
    background-color: blue;
    border-radius: 10%;
    color: white;


}

.purple {
    background-color: purple;
    border-radius: 10%;
    color: white;
}

.green {
    background-color: green;
    border-radius: 10%;
    color: white;
}

.orange {
    background-color: orangered;
    border-radius: 10%;
    color: white;
}

.magenta {
    background-color: magenta;
    border-radius: 10%;
    color: white;
}

.greeny {
    background-color: greenyellow;
    border-radius: 10%;
    color: white;
}
footer{
    margin-left: 50px;
}
